
#section4 {
    height: 100%;
    padding: 70px 0;
    background-color: rgba(240, 234, 234, 0.496);
    backdrop-filter: brightness(60%); 

}

#section4 .info {
    font-size: medium;
    display: flex;
    flex-direction: column;
    color:white;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#section4 p {
    text-align: center;
    width: 60%;
    margin: 10px 0;
}

#section4 .fanpage{
    color: rgb(183, 5, 5);
    font-size: large;
    font-weight: 600;
    text-decoration: none;
    transition: all ease-in-out;
    transition-duration: 300ms;
}

#section4 .fanpage:hover{
    color: white;
}

@media (max-width: 1140px) {
    #section4 p {
        width: 85%;
    }
}

#section4 .btnRegister-popup {
    margin: 20px 0;
    font-weight: 600;
}