@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 1px solid rgb(117, 109, 109);
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('res/background.png') no-repeat;
    background-size: cover;
    background-position: center;
}


.logo img{
    width: 280px;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
}

.navigation a {
    position: relative;
    font-size: .98em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0 ;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .35s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnRegister-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: .95em;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    transition: .4s;
}

.navigation .btnRegister-popup:hover{
    background: rgb(181, 81, 81);
    color: white;
}

.introduction {
    position: relative;
    padding: 100px;
    background-color: transparent;
}

.introduction h3{
    font-size: 1.5em;
    margin-bottom: 15px;
    color:rgb(202, 49, 49);
    font-weight: 600;
}

.introduction p {
    font-size: 0.85em;
    color: white;
}

.article {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#text {
    position: absolute;
    font-size: 1.5em;
    color: aliceblue;
    
}

#name {
    display: block;
    width: 100;
    margin-top: 25%;
    font-size: 3.5em;
    color: rgb(202, 49, 49);
}

