
@font-face {
    font-family: 'ValorantFont';
    src: url('res/font/ValorantFont.ttf') format('truetype'),
         url('https://fonts.googleapis.com/css?family=Poppins');
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 1px solid rgb(117, 109, 109);
    transition: background-color 0.3s ease;
}

.scrolled {
    background-color: rgba(101, 0, 0, 0.718); /* New background color when scrolled */
}

body{
    padding: 100px;
    min-height: 100vh;
    background: url('res/img/background.png');
    background-size: cover;
    background-position: center;
}


.logo img {
    width: 280px;
    float: left;
}

.navigation a {
    position: relative;
    font-size: .98em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    display: inline-block;
}


.navigation a::after {
    content: '';
    position: absolute;
    left: 0 ;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .35s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnRegister-popup{
    width: 130px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 65px;
    cursor: pointer;
    font-size: .95em;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    transition: .4s;
    border-width: 2%;
}

.navigation .btnRegister-popup:hover{
    transform: scale(1.1);
    background: rgba(153, 41, 41, 0.619);
    color: white;
}

.navigation .btnRegister-popup:active{
    opacity: 0.7 ;
}

#menu-bar{
    display: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
} 

#menu-bar:hover {
    transform: scale(1.1);
    color: white;
} 

#menu-bar:active {
    opacity: 0.6;
}


.content {
    padding-top: 60px;
    padding-left: 20px;
}

.content .intro-text {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    padding-right: 50%;
}

.content .intro-text h6 {
    letter-spacing: 3px;
    font-size: 15px;
}

.content .intro-text .organization {
    font-weight: 700;
    color: rgb(224, 93, 93);
    text-decoration: none;
    transition: .3s;
}

.content .intro-text .organization:hover {
    color: white;
    background-color: transparent;
}

.content .intro-text .organization:active{
    opacity: 0.7;
}

.content .intro-text h3{
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    margin-top: 40px;
    
}
.content .intro-text h1{
    font-size: 75px;
    font-weight: 700;
    color: rgb(187, 58, 58);
    font-family: 'ValorantFont', sans-serif;
    margin-top: 2%;
    margin-bottom: 20px;
}

.content .intro-text p{
    max-width: 100%;
    line-height: 1.8;
    font-size: 15px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}

.content .intro-text .button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    background: rgba(153, 41, 41, 0.619);
    color: white;
    padding: 9px 24px;
    border-radius: 12px;
    margin-right: 12px;
    margin-top: 10px;
    font-size: 15px;
    transition: 0.35s;
    font-weight: 600;
}

.content .intro-text a:hover{
    transform: scale(1.1);
    background: white;
    color: rgb(181, 81, 81);
}

.content .intro-text a:active{
    opacity: 0.6;
}

.content .social {
    position: absolute;
    margin-top: 35px;
    padding-left: 5px;
    transform: translateY(-50%);
    z-index: 20;
}

.content .social a{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: .3s;
}

.content .social a:hover{
    transform: scale(1.2);
}

.content .social a .youtube:hover {
    color:rgb(181, 81, 81);
}

.content .social a .facebook:hover {
    color:rgb(23, 120, 242);
}

.content .social a .instagram:hover  {
    background: linear-gradient(to bottom right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #2475b0, #3295c6, #66b9df, #a9e1f0, #d6ecf6);
    background-clip: border;
    color: white;
    border-radius: 6px;
    font-weight: 700;
}

.content .social a:active{
    opacity: 0.7;
}


.intro-img {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
    right: 0;
    top: 24%;
    text-align: right;
    /* overflow: hidden; */
    animation: moveUpDown 5s infinite;
    /* transition: transform 0.4s; */
  }
  

  
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-9%);
    }
    100% {
      transform: translateY(0);
    }
}

.scroll-up {
    position: fixed;
    bottom: 6%;
    right: 5%;
    z-index: 30;
}

.scroll-up ion-icon {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: rgb(181, 81, 81);
    border-radius: 28px;
    transition: all .5s ease;
}

.scroll-up ion-icon:hover {
    transform: translateY(-10px);
    color: rgb(181, 81, 81);
    background: white;
}

.scroll-up ion-icon:active {
    opacity: 70%;
}

@media (max-width: 1164px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }

    body{
        z-index: 10000;
        padding-right: 0;
        

    }
    .icons {
        padding: 0 3%;
        transition: .2s;
    }

    .navigation {
        position: absolute;
        top: 109px;
        right: -100%;
        width: 250px;
        height: 70vh;
        font-size: 1em;
        background: rgba(107, 38, 38, 0.874);
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        transition: 0.4s;
    }

    .navigation.open{
        right: 0;
        transition:  0.4s;
    }

    #menu-bar{
        display: block;
    }

    .navigation a{
        display: block;
        margin-bottom: 20px;
        margin-left: 0;
        font-weight: 700;
        padding: 5px 30px 12px 25px;
        text-align: right;
        letter-spacing: 1px;
        border-bottom: rgba(255, 255, 255, 0.479) ;
        transform: none;
    }

    navigation a:hover::after {
        transform-origin: left;
        transform: scaleX(1);
    }

    .navigation .btnRegister-popup{
        margin: 0 auto;
        margin-top: -10px;
        font-size: 1.1em;
        font-weight: 700;
        width: 155px;
        height: 55px;
    }

    .navigation .btnRegister-popup:hover{
        background: white;
        color: rgb(181, 81, 81);
        font-weight: 600;
    }

    .intro-img img{
        width: 100%;
        height: auto;
    }
}


@media (max-width: 730px){
    .content .intro-text{
        z-index: 20;
        padding-right: 5%;
    }
}

html {
    scroll-behavior: smooth;
  }
  