
@font-face {
    font-family: 'ValorantFont';
    src: url('res/font/ValorantFont.ttf') format('truetype'),
         url('https://fonts.googleapis.com/css?family=Poppins');
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 1px solid rgb(117, 109, 109);
    transition: background-color 0.3s ease;
}

.scrolled {
    background-color: rgba(101, 0, 0, 0.932); /* New background color when scrolled */
}

body{
    min-height: 100vh;
    background: url('res/img/background.png');
    background-size: cover;
    background-position: center;
}

/* scrolling effect */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the background color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #b84f4f; /* Set the color of the scrollbar thumb on hover */
  }


.logo img {
    width: 280px;
    float: left;
}

.navigation {
    margin-right: -280px;
}

.navigation a {
    position: relative;
    font-size: .98em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    display: inline-block;
}

.navigation #close-outl{
    color: rgb(107, 38, 38);
    cursor: pointer;
    display: none;
    margin-top: -10px;
    margin-left: 5px;
    font-size: 22px;
}


.navigation a::after {
    content: '';
    position: absolute;
    left: 0 ;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .35s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnRegister-popup{
    width: 130px;
    height: 45px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 65px;
    cursor: pointer;
    font-size: .95em;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    transition: .4s;
    border-width: 2%;
}

.navigation .btnRegister-popup:hover{
    transform: scale(1.1);
    background: rgba(153, 41, 41, 0.619);
    color: white;
}

.navigation .btnRegister-popup:active{
    opacity: 0.7 ;
}

#menu-open {
    display: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.3s ease;
} 

#menu-open:hover {
    transform: scale(1.1);
    color: white;
} 

#menu-open:active {
    opacity: 0.6;
}


.content {
    padding: 180px 100px 100px 100px;
    padding-left: 3%;
}

.content .intro-text {
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
    padding-right: 50%;
    padding-left: 50px;
}

.content .intro-text h6 {
    letter-spacing: 3px;
    font-size: 15px;
    transition: .5s;
}

.content .intro-text .organization {
    font-weight: 700;
    color: rgb(224, 93, 93);
    text-decoration: none;
    transition: .3s;
}

.content .intro-text .organization:hover {
    color: #FEB18E;
    background-color: transparent;
}

.content .intro-text .organization:active{
    opacity: 0.7;
}

.content .intro-text h3{
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    margin-top: 40px;
    
}
.content .intro-text h1{
    font-size: 75px;
    font-weight: 700;
    color: rgb(187, 58, 58);
    font-family: 'ValorantFont', sans-serif;
    margin-top: 2%;
    margin-bottom: 20px;
    transition: .3s;
}

.content .intro-text h1:hover{
    transform: scale(1.1);
    color: #FEB18E;
}

.content .intro-text p{
    max-width: 100%;
    line-height: 1.8;
    font-size: 15px;
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
    text-align: justify;
}

.content .intro-text .button{
    display: inline-block;
    text-decoration: none;
    border: 1px solid white;
    background: rgba(153, 41, 41, 0.619);
    color: white;
    padding: 9px 24px;
    border-radius: 12px;
    margin-right: 12px;
    margin-top: 10px;
    font-size: 15px;
    transition: 0.35s;
    font-weight: 600;
}

.content .intro-text a:hover{
    transform: scale(1.1);
    background: white;
    color: rgb(181, 81, 81);
}

.content .intro-text a:active{
    opacity: 0.6;
}

.content .social {
    position: absolute;
    margin-top: 30px;
    padding-left: 5px;
    transform: translateY(-50%);
    z-index: 20;
}

.content .social a{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    transition: .3s;
}

.content .social a:hover{
    transform: scale(1.2);
}

.content .social a .youtube:hover {
    color:rgb(181, 81, 81);
}

.content .social a .facebook:hover {
    color:rgb(23, 120, 242);
}

.content .social a .instagram:hover  {
    background: linear-gradient(to bottom right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5, #2475b0, #3295c6, #66b9df, #a9e1f0, #d6ecf6);
    background-clip: border;
    color: white;
    border-radius: 6px;
    font-weight: 700;
}

.content .social a:active{
    opacity: 0.7;
}


.intro-img {
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    right: 0;
    top: 15%;
    text-align: end;
    /* overflow: hidden; */
    animation: moveUpDown 5s infinite;
    /* transition: transform 0.4s; */
  }
  

  
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-7%);
    }
    100% {
      transform: translateY(0);
    }
}

.scroll-up {
    position: fixed;
    bottom: 6%;
    right: 5%;
    z-index: 30;
}

.scroll-up ion-icon {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: white;
    background: rgb(155, 5, 5);
    border-radius: 28px;
    transition: all .5s ease;
}

.scroll-up ion-icon:hover {
    transform: translateY(-10px);
    color: rgb(181, 81, 81);
    background: white;
}

.scroll-up ion-icon:active {
    opacity: 70%;
}

@media (max-width: 1180px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }

    body{
        z-index: 10000;
    }
    .icons {
        padding: 0 3%;
        transition: .2s;
    }

    .navigation {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 250px;
        height: auto;
        font-size: 1em;
        background: rgb(243, 239, 239);
        display: flex;
        flex-direction: column;
        padding: 20px 5px;
        transition: 0.5s;
    }

    #menu-open {
        display: block;
    }

    .navigation.open{
        right: 0;
        transition:  0.4s;
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .navigation #close-outl{
        display: flex;
    }

    #menu-open.active {
        display: none;
    }

    .navigation {
        margin-right: 0;
    }

    .navigation a{
        display: block;
        margin-bottom: 20px;
        margin-left: 0;
        font-weight: 700;
        padding: 5px 30px 12px 25px;
        text-align: center;
        letter-spacing: 1px;
        border-bottom: rgba(255, 255, 255, 0.479) ;
        transform: none;
        transition: all 0.4s;
        color: rgb(131, 3, 3);
    }

    .navigation a::after {
        background: rgb(131, 3, 3);
    }

    .navigation .btnRegister-popup{
        margin: 0 auto;
        margin-top: -10px;
        font-size: 1.1em;
        font-weight: 700;
        width: 155px;
        height: 55px;
        color: rgb(131, 3, 3);
        border-color: rgb(131, 3, 3);
    }

    .navigation .btnRegister-popup:hover{
        background: rgb(131, 3, 3);
        color: white;
        font-weight: 600;
    }

    .intro-img img{
        width: 100%;
        height: auto;
        padding-top: 18%;
        filter: brightness(55%) blur(.5px);
    }

    .content .intro-text{
        z-index: 20;
        padding-right: 0;
        padding-left: 0;
        align-items: center;
    }

    #name{
        font-size: 420%;
    }

    .content{
        padding: 24% 8% 15% 8%;
    }

    #main-header{
        padding: 4.5% 4.5% 4.5% 4.5%;
    }
    
    .logo img{
        width: 50%;
        align-items: space-between;
    }

    .slider-content {
        display: block;
    }
}


html {
    scroll-behavior: smooth;
  }
  

  /* The le */

#section2 {
    min-height: 100vh;
    padding: 40px 0;
    background-color: rgba(153, 149, 149, 0.308);
    width: 100%;
    text-align: justify;
    backdrop-filter: brightness(60%);
}

.title h1{
    position: relative;
    color: white;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'ValorantFont', sans-serif;
    font-size: 50px;
    color:rgba(255, 255, 255, 0.732);
    transition: .3s;
}


#section2 h1:hover{
    color: rgb(221, 162, 162);
    scale: 1.2;
}

.slider-content {
    padding: 40px 0;
}


.slider-content .slide-overlay{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flexbox;
    border-radius: 12px;
    perspective: 12px;
}

.swiper-slide{
    width: 40%;
    height: fit-content;
    margin: 0 4%; 
    background-color: whitesmoke;
    border: 2.5px dashed rgb(97, 10, 10);;
    border-radius: 15px;
    padding: 2.4%;
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    z-index: 1000px;
    transform: 0.6s;
}

.slider-content .swiper-slide .title{
    margin-bottom: 8%;
}

.swiper-slide .title h5 {
    display: inline-flex;
    font-size: 22px;
    color: #000000;
    margin-left: 5px; 
    margin-bottom: 3px;
}

.swiper-slide .title .icon{
   color: rgb(0, 0, 0);
   font-size: 24px;
   z-index: 1000px;
}

.swiper-slide .title h2{
    font-size: 34px;
    color: rgb(152, 22, 22);
    border: 2px dashed rgb(152, 22, 22);
    width: fit-content;
    border-radius: 6px;
}


.swiper-slide .no{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4% 0;
    border-top: 1px dashed rgb(152, 22, 22);
}

.swiper-slide .number{
    position: relative;
    color:rgb(152, 22, 22);
    font-size: 48px;
    display: inline-block;
    font-weight: 700;
    /* width: 10%; */
    
}

.swiper-slide .desc{
    font-size: 15px;
    display: inline-flex;
    justify-content: left;
    align-items: left;
    padding-left: 10%;
}


.swiper-slide-active {
    transform: translateZ(0);
}



.slider-overlay{
    display: flex;
    transform-style: preserve-3d;
}


/* Agenda */
#section3 {
    font-family: 'Poppins', sans-serif;
}

#section3 .title {
    padding: 35px;
}

 #section3 .title h1 span {
    color: red;
    font-family: 'ValorantFont', sans-serif;
} 

#section3 .timeline{
    position: relative;
    max-width: 1200px;
    margin: 50px auto;
    margin-top: 0;
}

#section3 .timeline .container{
   padding: 10px 40px;
   position: relative;
   width: 50%;
   animation: movedown 1s linear forwards;
   opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#section3 .timeline .container .text-box{
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}


.left-container {
    left : 0;
}

.right-container {
    left : 50%;
}

.timeline-date{
    position: absolute;
    font-size: 28px;
    padding: 5px;
    width: fit-content;
    background: white;
    border: 2px solid transparent;
    color: rgb(152, 22, 22);
    border-radius: 50%;
    font-weight: 700px;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container .timeline-date {
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}


@keyframes moveline {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
    }
}

.text-box h2{
    font-weight: 700;
    color: rgb(152, 22, 22);
    font-size: 32px;
}



.text-box small {
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    right: -14.5px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    left: -14.5px;
}

#section3 .timeline .container:nth-child(1){
    animation-delay: 0s;
}

#section3 .timeline .container:nth-child(2){
    animation-delay: 1s;
}

#section3 .timeline .container:nth-child(3){
    animation-delay: 2s;
}

#section3 .timeline .container:nth-child(4){
    animation-delay: 3s;
}

#section3 .timeline .container:nth-child(5){
    animation-delay: 4s;
}

#section3 .timeline .container:nth-child(6){
    animation-delay: 5s;
}

#section3 .timeline .container:nth-child(7){
    animation-delay: 6s;
}

@media screen and (max-width: 600px){

    .timeline {
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    #section3 .timeline .container {
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    
    #section3 .timeline .container .text-box  {
        font-size: 13px;
    }

    
    #section3 .timeline .container .text-box small {
        margin-bottom: 10px;
    }

    .right-container{
        left: 0;
    }

    .left-container .timeline-date, .right-container .timeline-date {
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid white;
        border-left: 0;
        left: -14px;
    }
}